doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')

        title= title
        link(rel="stylesheet", href="/styles.css")
    body
        div.page
            div.page__header
                div.page__logo
                    a(href='https://www.xiag.ch' target='_blank')
                        img(src='https://test-task.xiag.ch/images/page-logo.png' alt='XIAG AG')
                div.page__task-name Poll website task

            div.page__image
                div.page__task-title Poll website task: HTML example 2
                    block header

            div.page__content.page__content--padding
                block main